.container {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.25);
  border-radius: 10px;
  height: auto;
  margin-top: 10px;
  background-color: #e2e2e2;
  max-width: 450px;
  img {
    border: 2px solid #ffffff;
    border-radius: 10px;
  }
}
